<div class="about-main">
  <h3>Learn about Stories</h3>
</div>
<div class="supsection">
  <h3>Who are we?</h3>
  <p>Capture every moment of your journey with Stories - the perfect app for globetrotters, adventurers, and explorers alike. Whether you're embarking on a solo backpacking trip through Southeast Asia, planning a romantic getaway to Paris, or simply exploring your own backyard, Stories is here to help you document your travels and create memories that last a lifetime.</p>
  <button class="btn btn-danger">Sign up</button>
</div>
