  <main class="main-cover">
    <h2>travel with</h2>
    <h1>STORIES</h1>
    <button class="btn btn-danger"><%= link_to 'Learn More', about_path(@about) %></button>
  </main>
  <div class="supsection">
    <h3>Discover the World</h3>
    <p>"Stories: Capture Every Moment, Share Every Memory!"</p>
  </div>
  <div class="secsection">
  </div>
  <div class="discover">
    <h3>Don't miss out!</h3>
    <button class="btn btn-danger"><%= link_to 'Learn More', about_path(@about) %></button>
  </div>
